*{
	margin: 0px;
	padding: 0px;
}
#container{
	position: fixed;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #464646;
}
#wrapper{
	position: relative;
	width: 1000px;
	margin: 0px auto;
	background-color: #000000;
}